n8n/backup/workflows/RAG_Local_Memory_Pgvector.json
{
  "name": "RAG local file",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        -360
      ],
      "id": "913292e8-aa7f-4cf3-9b22-b8c33e3f4270",
      "name": "When chat message received",
      "webhookId": "3dbfe06f-448a-4ebd-8cc0-8864ae2b3d74"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        -280
      ],
      "id": "a050a008-0374-412b-9059-f772dd2006d1",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "content": "# Chat interface",
        "height": 800,
        "width": 960
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        -820
      ],
      "id": "8808fa67-a5cb-4a43-82c7-09eb004da775",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Local RAG Qdrant",
        "height": 260,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1900,
        -100
      ],
      "id": "778fde6e-8cfc-4446-9b92-0a0b28045808",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Ingest files (create/update embeddings)",
        "height": 680,
        "width": 1640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        -860
      ],
      "id": "cbac55cb-1952-4273-8bc7-2d53f8f21790",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21a88f70-6c3e-4310-954c-0100aff9f00a",
              "name": "file_id",
              "value": "={{ $json.path.hash() }}",
              "type": "string"
            },
            {
              "id": "4b2d589b-fbfc-4ce6-a192-c0b419809b85",
              "name": "deleted",
              "value": "False",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        -400
      ],
      "id": "d6011822-85d9-4293-94c6-662c7750f233",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Local File Trigger (added, changed)').item.json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2240,
        -380
      ],
      "id": "a1065902-3aab-41ae-a31e-81ac5a39ff87",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "meeting_notes"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        2580,
        -60
      ],
      "id": "ded8f7c3-aaa6-4743-99f7-2d37b27a1d50",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "textLoader",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              },
              {
                "name": "path",
                "value": "={{ $('Local File Trigger (added, changed)').item.json.path }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1880,
        460
      ],
      "id": "1559589a-474d-4857-a993-7bb27933921f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "mxbai-embed-large:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1700,
        420
      ],
      "id": "79b55495-91c9-46ad-a525-3232c3bd478e",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1780,
        620
      ],
      "id": "b0cee47c-2f95-4a1f-ab34-eb9b4b22a3ba",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "meeting_notes",
          "mode": "list",
          "cachedResultName": "meeting_notes"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        2160,
        -40
      ],
      "id": "b310e2c1-c72c-4de8-ba81-930c99248842",
      "name": "Qdrant Vector Store2",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant that can fetch information and always respond in natural language. Your data-driven and tries to provide data points when possible.\nKeep answers concise."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        80,
        -780
      ],
      "id": "508ddf4f-f8a1-48e2-82f9-2e953f16bb73",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        220,
        -520
      ],
      "id": "c0a70962-72e4-48fe-bb80-f645a9cb16df",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ENEiv8ndyn5g4sze",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "name": "meeting_notes_chain",
        "description": "Meeting notes data"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        360,
        -580
      ],
      "id": "1b446a6c-0067-4900-afd9-9cd962747f38",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        1340,
        -20
      ],
      "id": "f8329c5c-1a3e-4232-902f-887fe06ca07c",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "G2kAZArr6GEOuHbe",
          "name": "PGVECTOR"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        940,
        -20
      ],
      "id": "db1b3312-8c82-4a4a-bfeb-4544321b736b",
      "name": "Postgres PGVector Store2",
      "credentials": {
        "postgres": {
          "id": "G2kAZArr6GEOuHbe",
          "name": "PGVECTOR"
        }
      }
    },
    {
      "parameters": {
        "content": "# Local RAG pgvector\n\n",
        "height": 280,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        -140
      ],
      "id": "c5aa131b-53cc-4002-9a9b-17f148727d58",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Common RAG\n\n",
        "height": 480,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1540,
        300
      ],
      "id": "3bd65752-f2b8-4a11-ad55-947af7bd7f0b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "mode": "load",
        "prompt": "Get by file ID",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        1600,
        -660
      ],
      "id": "68d0c81f-2873-490e-b87c-f571c31ca926",
      "name": "Find and clean1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "G2kAZArr6GEOuHbe",
          "name": "PGVECTOR"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a0c6b49-91c6-487a-95d8-e393b96de7de",
              "leftValue": "={{ $json.document }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        -660
      ],
      "id": "4145ce4f-0d9a-428d-abb4-907ae3c07f5d",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_vectors",
          "mode": "list",
          "cachedResultName": "n8n_vectors"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2200,
        -680
      ],
      "id": "7e83470b-cfbc-4247-80a1-afa248eddc32",
      "name": "Delete rows",
      "credentials": {
        "postgres": {
          "id": "G2kAZArr6GEOuHbe",
          "name": "PGVECTOR"
        }
      }
    },
    {
      "parameters": {
        "content": "# Handle duplicates (just delete if exsiting file_ID)",
        "height": 320,
        "width": 840,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1560,
        -800
      ],
      "id": "27cd3600-34cc-49d7-951c-66e9a778d6e7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21a88f70-6c3e-4310-954c-0100aff9f00a",
              "name": "file_id",
              "value": "={{ $json.path.hash() }}",
              "type": "string"
            },
            {
              "id": "4b2d589b-fbfc-4ce6-a192-c0b419809b85",
              "name": "deleted",
              "value": "={{ $json.event == \"unlink\" }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        -1040
      ],
      "id": "9a06924f-447a-4724-a124-fe4f49f199a1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_vectors",
          "mode": "list",
          "cachedResultName": "n8n_vectors"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1960,
        -1040
      ],
      "id": "56a1a260-a9df-4ad7-a790-b7084c2570c2",
      "name": "Delete rows1",
      "credentials": {
        "postgres": {
          "id": "G2kAZArr6GEOuHbe",
          "name": "PGVECTOR"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from n8n_vectors\nwhere metadata @> '{ \"file_id\": \"{{ $json.file_id }}\" }'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1640,
        -1040
      ],
      "id": "ca9d2125-2000-437c-9547-ccbbc3a2ee7e",
      "name": "Get rows to delete",
      "credentials": {
        "postgres": {
          "id": "G2kAZArr6GEOuHbe",
          "name": "PGVECTOR"
        }
      }
    },
    {
      "parameters": {
        "content": "# Delete files flow (remove embeddings)",
        "height": 260,
        "width": 1540,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        -1140
      ],
      "id": "c6618956-9be8-402a-a93e-4de2fa75b988",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/shared",
        "events": [
          "unlink"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        1020,
        -1040
      ],
      "id": "6d845037-bb56-4cfe-b569-5ee6df2412ed",
      "name": "Local File Trigger (delete)"
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/shared",
        "events": [
          "add",
          "change"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        1040,
        -400
      ],
      "id": "6433c575-20cf-489f-afbb-ee60461465d9",
      "name": "Local File Trigger (added, changed)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -100,
        200
      ],
      "id": "cefa93a5-5a33-4b86-a9ee-9aa5332b68c7",
      "name": "Nuke DBs data"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        120,
        200
      ],
      "id": "be605a93-ed05-4923-a66b-42d5396f2334",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "ENEiv8ndyn5g4sze",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_vectors",
          "mode": "list",
          "cachedResultName": "n8n_vectors"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        120,
        380
      ],
      "id": "c7aaa016-00a6-45a0-9fa0-a0d9b10acb46",
      "name": "Postgres1",
      "credentials": {
        "postgres": {
          "id": "G2kAZArr6GEOuHbe",
          "name": "PGVECTOR"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Find and clean1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store2",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Find and clean1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store2": {
      "ai_tool": [
        []
      ],
      "ai_vectorStore": [
        []
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Find and clean1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Delete rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Get rows to delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get rows to delete": {
      "main": [
        [
          {
            "node": "Delete rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local File Trigger (delete)": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local File Trigger (added, changed)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nuke DBs data": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ca726b12-eaae-45ef-aec9-5d865f58714e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "RdK6ocOAJx6tyE4n",
  "tags": []
}